/* Deafault CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* styling setup */
:root {
  --primary-color: #06c176;
  --secondary-color: #f3fcf7;
  --color-white: #ffffff;
  --font-color: #1d1d1f;
  --font-black: black;
  --border-color: #b6b0b0;
  --benefit-bg-color: #e0f7ef;
  --sec-btn-color: #dae6e0;
  --btn-hover-color: #05a663;
  --font-family: inter, sans-serif;
  --font-size: 16px;
}

/* body styling start from here */

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--secondary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #05a564;
}

/* main section styling here */
main,
footer {
  flex: 1;
  width: 95%;
  max-width: 1200px;
  padding: 20px;
  background-color: var(--secondary-color);
}

/* header styling from here */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.hero__btn span {
  margin-left: 10px;
  font-weight: 600;
}

/* nav bar styling from here */
.nav__bar li {
  display: inline-block;
}
.nav__bar li a {
  text-decoration: none;
  color: var(--font-color);
  padding: 10px 15px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav__bar li a:last-child {
  padding-right: 0;
}

/* hero section styling start from here */
.hero__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  gap: 20px;
}

.hero__left {
  margin-top: 30px;
  flex: 1;
  align-items: flex-start;
}
.hero__left p {
  margin-bottom: 30px;
  line-height: 1.5rem;
}

.hero__left h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}
.hero__left span {
  margin-left: 20px;
}

.hero__left__spnsor {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 100px;
  align-items: center;
  transition: all 0.3s ease;
}

.hero__left__spnsor img {
  transition: all 0.3s ease;
}

.hero__right {
  background-image: url(./resources/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  border-radius: 8px;
  position: relative;
  margin-right: 50px;
}

.mini__hero,
.hero__ratings {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 200px;
  background-color: var(--color-white);
  border-radius: 50px;
  padding: 5px;
  position: absolute;
  top: 30%;
  left: -50px;
  z-index: 999;
  overflow: hidden;
}

.hero__ratings {
  padding: 8px;
  width: 220px;
  top: 50%;
  left: 50px;
}

.mini__hero img {
  border-radius: 50%;
  object-fit: cover;
}

.mini__hero p,
.hero__ratings p {
  font-size: 0.9rem;
  align-self: center;
  font-weight: 600;
  color: var(--font-color);
}

.hero__ratings i {
  font-size: 0.9rem;
  color: var(--primary-color);
  align-self: center;
}

.dot__hero {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

/* feature section styling here */

.features {
  margin: 90px 0;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.feature__body {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.feature__body span:first-child {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__body span:first-child i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.feature__body span:last-child h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-color);
  color: var(--font-black);
}

.feature__body span:last-child p {
  font-size: 0.9rem;
  color: var(--font-color);
  margin-top: 5px;
}

/* our benefit section styling here + our stars (some of)*/

.our__benefit,
.our__stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.benefit__left,
.stars__right {
  background-color: var(--benefit-bg-color);
  width: 50%;
  padding: 32px;
}

.benefit__left img,
.stars__right img {
  width: 100%;
  height: 100vh;
}

.benefit__right p,
.stars__left p {
  font-size: 0.8rem;
  margin-bottom: 40px;
  font-weight: 500;
}

.benefit__right h2,
.stars__left h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  margin-bottom: 30px;
  font-weight: 500;
}
.benefit__right li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--font-color);
}
.benefit__right i {
  color: var(--primary-color);
  font-style: 800;
  margin-right: 10px;
}

/* our stars styling start here */

.countdown {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.count__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count__fig {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.count__body p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--font-color);
}

/* our feature section sytling here + our product (some sector) */

.our__feature,
.our__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0;
}
.our__product {
  align-items: start;
  width: 100%;
}

.our__feature p,
.our__product p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.our__feature h3,
.our__product h3,
.veggie__food h3 {
  font-size: 3.75rem;
  margin-bottom: 50px;
  font-weight: 500;
}

.feture__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.feture__grid .image img {
  transition: all 0.3s ease;
}

.image,
.image__des {
  flex: 0.25;
  height: 250px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 15px;
  background-color: var(--benefit-bg-color);
}

.image__des h4 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--font-color);
}

.image__des button {
  background-color: var(--sec-btn-color);
  color: var(--primary-color);
  padding: 8px 12px;
}

.image__des button i,
.pro__btn i {
  margin-left: 8px;
}

/* our product sytling here */
.product__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--border-color);
  padding: 2rem 1rem;
  transition: outline 0.3s ease;
}

.product__body img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.product__body p {
  font-size: 1.2rem;
  color: var(--font-color);
  margin-bottom: 0;
}

.pro__ratings i {
  color: var(--primary-color);
  font-size: 0.8rem;
}

.pro__btn {
  width: 70%;
  padding: 8px 16px;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

/* veggie food styling start here */

.veggie__food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: url(./resources/getstarted-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 90px 0;
  opacity: 0.8;
}

.veggie__food h3 {
  text-align: center;
  color: var(--color-white);
  font-weight: 600;
}

.veggie__btn {
  width: 150px;
}

.veggie__btn i {
  margin-left: 0.8rem;
}

/* footer styling start here */

.foot__main {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
}

.foot__col1,
.foot__col2,
.foot__col4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
}

.foot__col1 span i {
  margin-right: 10px;
  transition: all 0.3s ease;
}

.foot__col1 h4,
.foot__col2 h4,
.foot__col4 h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-color);
}

.foot__col1 h4 {
  font-size: 2rem;
  color: var(--primary-color);
}

.foot__col2 ul li,
.foot__col1 p,
.foot__col4 p {
  margin-bottom: 10px;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.foot__col4 input {
  width: 70%;
  padding: 10px 15px;
  font-size: 0.8rem;
  background-color: var(--sec-btn-color);
  border: none;
}

.foot__form button {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.foot__bottom {
  text-align: center;
  margin-top: 30px;
  font-size: smaller;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
/* all hover styling here */
/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */
.nav__bar li a:hover {
  color: var(--primary-color);
}

.hero__left__spnsor img:hover,
.foot__col1 span i:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.feture__grid .image img:hover,
.product__body img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.image__des button:hover {
  background-color: var(--btn-hover-color);
  color: var(--color-white);
}

.product__body:hover {
  outline: 1px solid var(--primary-color);
}

.pro__btn:hover {
  color: var(--color-white);
}

.foot__col2 ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
